---
export interface Props {
  titulo: string;
  descripcion: string;
  imagen: string;
  enlace: string;
}

const { titulo, descripcion, imagen, enlace } = Astro.props;
---

<article class="proyecto">
  <div class="proyecto__imagen">
    <img src={imagen} alt={imagen} />
  </div>

  <div class="proyecto__contenido">
    <h3>{titulo}</h3>
    <p>{descripcion}</p>
    <a target="_blank" href={enlace}>Ver proyecto</a>
  </div>
</article>

<style>
  .proyecto {
    padding: 3rem;
  }

  @media (min-width: 768px) {
    .proyecto {
      display: flex;
      gap: 5rem;
      align-items: center;
    }
  }

  .proyecto__contenido,
  .proyecto__imagen {
    flex: 1;
  }

  
  .proyecto:nth-child(even) .proyecto__contenido {
    order: -1;
  }


  .proyecto h3 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.8rem;
  }

  .proyecto a {
    display: block;
    font-size: 1.8rem;
    padding: 1rem;
    background-color: #000;
    color: white;
    border: 1px solid #fff;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }
  .proyecto a:hover {
    background-color: #fff;
    color: #000;
  }
</style>
