---
import Proyecto from './Proyecto.astro';

import proyecto_1 from '/img/01-cotizador-prestamos-react.png';
import proyecto_2 from '/img/02-planificador-gastos-react.png';
import proyecto_3 from '/img/03-buscador-de-bebidas.png';
import proyecto_4 from '/img/04-cotizador-de-seguros.png';
import proyecto_5 from '/img/05-cafeteria-cafe.png';
import proyecto_6 from '/img/06-control-presupuesto-js.png';
import proyecto_7 from '/img/07-uptask-php.png';
import proyecto_8 from '/img/08-barberia-php.png';
---

<section
  class="proyectos contenedor"
  id="proyectos"
>
  <h2 class="proyectos__heading">Proyectos</h2>
  <div class="proyectos__grid">
    <Proyecto
      titulo="Cafetería café"
      descripcion="Este proyecto está realizado con HTML, Flexbox, Grid, CSS - SASS, Gulp para compilar el código de SASS. Es responsive e incluye páginas internas."
      imagen={proyecto_5}
      enlace="https://cafeteria-cafe-fs.netlify.app/"
    />
    <Proyecto
      titulo="Control de presupuesto"
      descripcion="Este proyecto está realizado con HTML, CSS y Javascript"
      imagen={proyecto_6}
      enlace="https://gasto-semanal-franco.netlify.app/"
    />
    <Proyecto
      titulo="Cotizador de prestamos"
      descripcion="Este proyecto está construído con React y utiliza Vite, tailwind, componentes, props, useState, useEffect."
      imagen={proyecto_1}
      enlace="https://cotizador-deprestamos-react.netlify.app/"
    />
    <Proyecto
      titulo="Buscador de Bebidas"
      descripcion="Este proyecto está construído en React y utiliza Vite, una API para obtener las bebidas, utiliza Context, React-Bootstrap para los estilos."
      imagen={proyecto_3}
      enlace="https://buscadordebebidas-react.vercel.app/"
    />
    <Proyecto
      titulo="Uptask - Administrador de proyectos"
      descripcion="Este proyecto está construído en PHP con MVC, CSS, SASS, Javascript, MySql, etc "
      imagen={proyecto_7}
      enlace="https://uptask-franco.alwaysdata.net/"
    >
      <a href="/uptask">Funcionalidad del proyecto</a>
    </Proyecto>

    <Proyecto
      titulo="Barberia - Gestión de citas"
      descripcion="Este proyecto está construído en PHP con MVC, CSS, SASS, Javascript, MySql, etc "
      imagen={proyecto_8}
      enlace="https://barberiafranco.alwaysdata.net/"
    >
      <a href="/barberia">Funcionalidad del proyecto</a>
    </Proyecto>
  </div>
</section>

<style>
  .proyectos__heading {
    font-size: 3.6rem;
    text-align: center;
    margin: 5rem 0;
  }

  .proyectos__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 768px) {
    .proyectos__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .proyectos a {
    display: block;
    font-size: 1.8rem;
    padding: 1rem;
    background-color: #000;
    color: white;
    border: 1px solid #fff;
    text-align: center;
    margin: 2rem auto;
    width: 80%;
    font-weight: bold;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }
  .proyectos a:hover {
    background-color: #fff;
    color: #000;
  }
</style>
